@import "../../base";
@import "../../variables";


.homewrap {
    #backOnTopLink {
        background-image: url("https://png.pngitem.com/pimgs/s/11-115978_ncbe4ky4i-arrow-mark-inside-gray-circle-png-transparent.png");
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        position: fixed;
        right: 5vw;
        bottom: 6vh;
        width: 50px;
        height: 50px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .main {
        min-height: calc(100vh - 80px);
        background-image: url("../../images/bg.webp");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.85;
        position: relative;

        .mainText {
            position: absolute;
            height: 75%;
            width: 35vw;
            top: 22vh;
            color: white;
            font-size: 4em;
            font-family: "Montserrat", sans-serif;
            transform: translateX(-200%);
            opacity: 0;
            animation: slide-in-anim 1.5s ease-out forwards;

            @keyframes slide-in-anim {
                20% {
                    opacity: 0;
                }

                30% {
                    transform: translateX(85%);
                }

                40% {
                    transform: translateX(115%);
                }

                60% {
                    transform: translateX(145%);
                }

                75% {
                    transform: translateX(178%);
                }

                100% {
                    opacity: 1;
                    transform: translateX(170%);
                }
            }

        }

    }

    .section_01 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 6vh;


        .div_sec01_wrapper {
            width: 65vw;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .artistImg {
                width: 20vw;
                height: 50vh;
                margin-left: 1vw;
                border-radius: 15px;
            }

            .div_sec01_wrapper_artist {
                height: 50vh;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                .artistText_01 {
                    font-family: "Arial";
                    text-align: center;
                    color: $color3;
                    letter-spacing: 0.2em;
                    font-size: 25px;
                    margin-top: 2vh;
                    margin-bottom: 2vh;
                    margin-left: 4vw;
                }

                .artistText_02 {
                    font-family: "Poppins", sans-serif;
                    color: $color3;
                    letter-spacing: 0.1em;
                    font-size: 16px;
                    font-weight: lighter;
                    line-height: 1.8;
                    margin-left: 2vw;
                    margin-bottom: 2vh;
                    max-height: 30vh;
                    text-overflow: hidden;
                }
            }
        }
    }

    .section_02 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3vh;

        .div_sec02_history_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 4vh;
            margin-bottom: 1.5vh;
            padding: 1.5vh 2vw;

            .artistText_01 {
                font-family: "Arial", cursive;
                text-align: center;
                color: $color3;
                letter-spacing: 0.2em;
                font-size: 25px;
                margin-bottom: 1em;
            }

            .artistText_02 {
                font-family: "Poppins", sans-serif;
                text-align: center;
                color: $color3;
                letter-spacing: 0.1em;
                font-size: 16px;
                font-weight: lighter;
            }
        }

        .div_sec02_food_wrapper {
            width: 65vw;
            margin-bottom: 5vh;
            display: flex;
            flex-direction: row;

            .p1 {
                height: 100%;
                width: 20vw;
                margin-right: 1vw;
                border-radius: 7px;
                opacity: 0.9;
                box-shadow: -18px 10px 18px 0px rgba(0, 0, 0, 0.1);
            }

            p {
                margin-right: 1vw;
                margin-top: 0.9vh;
                letter-spacing: 1.2px;
                font-weight: lighter;
                font-size: 1em;
                letter-spacing: 0.1em;
            }

            .foodTitle {
                font-size: 1.2em;
                font-family: "Arial", cursive;
            }

            .div_food_wrapper_01 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
    }

    .section_03 {
        position: relative;
        left: 16vw;
        width: 65vw;
        height: 70vh;
        margin-bottom: 2vh;
        margin-top: 1vh;
        background-image: url("../../images/skills.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 7px;

        .div_sec03_picture {
            width: 100%;
            height: 100%;
            background-color: white;
            opacity: 0.2;
        }

        .div_sec03_note {
            position: absolute;
            left: 10vw;
            top: 10vh;
            width: 45vw;
            min-height: 32vh;
            background-color: white;
            color: $color3;
            border-radius: 7px;

            .title {
                text-align: center;
                font-family: "Arial", cursive;
                font-size: 2em;
                letter-spacing: 0.3em;
                margin-top: 2vh;
                margin-bottom: 1vh;
            }

            .comment {
                text-align: center;
                letter-spacing: 0.2em;
                margin-bottom: 2vh;
                font-family: "Poppins", sans-serif;
            }

            .text {
                font-size: 1em;
                letter-spacing: 0.1em;
                line-height: 1.8;
                margin-left: 1.5vw;
                margin-right: 1.5vw;
                margin-bottom: 1vh;
            }

            .skillsWrapper {
                width: 100%;
                height: 14vh;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

                .skill {
                    width: 18vw;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: $color1;
                    border-radius: 25px;
                    font-size: 1em;
                    margin-bottom: 1vh;
                    padding-bottom: 0.6vh;
                    padding-top: 0.6vh;
                    color: white;

                    p {
                        margin-left: 0.5vw;
                        margin-right: 0.5vw;
                        border-bottom: 1px solid white;
                        font-family: "Arial", cursive;
                        font-size: 1em;
                        letter-spacing: 0.2em;
                    }
                }
            }
        }
    }

    .section_04 {
        width: 100%;
        background-color: rgba(251, 251, 251, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;

        .div_sec04_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 65vw;

            .searchTitle {
                text-align: center;
                font-family: "Arial", cursive;
                font-size: 2em;
                letter-spacing: 1px;
                margin-top: 3vh;
                margin-bottom: 1vh;
            }

            .div_sec04_wrapper_btn {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin: 30px;

                .search-box {
                    display: flex;
                    width: 30vw;
                    height: 5vh;

                    .input-search {
                        padding-left: 10px;
                    }

                    .btn-search {
                        width: 20%;
                        height: 100%;
                        border-style: none;
                        outline: none;
                        cursor: pointer;
                        // border-radius: 20%;
                        // position: absolute;
                        // background-color: transparent;
                        background-color: $color2;
                        pointer-events: painted;
                        background-image: url('../../images/newsearch.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        right: 10px;
                        bottom: 5px;
                        padding-left: 20px;

                    }
                }

                .createBtn-wrapper {
                    width: 20vw;
                    height: 5vh;

                    .addBtn {
                        height: 100%;
                        width: 100%;
                        text-align: center;
                        background-color: $color1;

                        border: 1px solid green;
                        cursor: pointer;
                        color: white;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .section_05 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .div_sec05_card_wrapper_01 {
            h3 {
                padding-left: 4vw;
            }

            margin-bottom: 7vh;
            display: flex;
            flex-direction: column;
            width: 100vw;

            .foodCard {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }

}